<p-panel [showHeader]="false" class="p-2">
    <h1>Pipes No Comunes</h1>
    <p>Pipes incluídos en angular - usualmente en el common module</p>
</p-panel>

<div class="grid">
    <div class="col-6">
        <p-fieldset legend="i18nSelect Pipe" [toggleable]="true"></p-fieldset>
    </div>
    <div class="col-6">
        <p-fieldset legend="i18nPlural Pipe" [toggleable]="true"></p-fieldset>
    </div>
    <div class="col-6">
        <p-fieldset legend="Slice Pipe" [toggleable]="true"></p-fieldset>
    </div>
    <div class="col-6">
        <p-fieldset legend="Json Pipe" [toggleable]="true"></p-fieldset>
    </div>
    <div class="col-6">
        <p-fieldset legend="KeyValuye Pipe" [toggleable]="true"></p-fieldset>
    </div>
    <div class="col-6">
        <p-fieldset legend="Async Pipe" [toggleable]="true"></p-fieldset>
    </div>
</div>