<p-panel [showHeader]="false" class="p-2">
    <h1>Pipes Propios</h1>
    <p>Pipes creados directamente por {{'nosostros' | toogleCase:isUpperCase }}</p>
</p-panel>

<p-toolbar>
    <div class="p-toolbar-group-start">
        <button pButton icon="pi pi-search" class="mr-2" label="ToogleCase" (click)="toogleUpperCase()"></button>

    </div>
    <div class="p-toolbar-group-end">
        <button pButton icon="pi pi-sort" class="mr-2 p-button-succes" label="Por Nombre" (click)="valorAsignado('name')"></button>
        <button pButton icon="pi pi-sort" class="mr-2 p-button-danger" label="Por Volar" (click)="valorAsignado('canFly')"></button>
        <button pButton icon="pi pi-sort" class="mr-2 p-button-help" label="Por Color" (click)="valorAsignado('color')"></button >
    </div>
</p-toolbar>

<div class="grid">
    <div class="col mt-2">
        <p-table [value]="heroes | sortBy:valueSortBy" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template pTemplate="header">
                <tr>

                    <th>Name</th>
                    <th>Vuela</th>
                    <th>Color</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
                <tr>

                    <td>{{ product.name }}</td>
                    <td>{{ product.canFly | canFly }}</td>
                    <td>{{ product.color }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>