<p-panel [showHeader]="false" class="p-2">
    <h1>Pipes Básicos</h1>
    <p>Pipes incluídos en angular - usualmente en el common module</p>
</p-panel>

<div class="grid">
    <div class="col-4">
        <p-card header="upppercase">
            {{nameLower | uppercase}}
        </p-card>
    </div>
    <div class="col-4">
        <p-card header="lowercase">
            {{nameUpper | lowercase}}
        </p-card>
    </div>
    <div class="col-4">
        <p-card header="titlecase">
            {{fullName | titlecase}}
        </p-card>
    </div>
    <div class="col-6">
        <p-card header="Date">
            <ol>
                <li>Fecha</li>
                <li>Fecha | date</li>
                <li>Fecha | date:'short'</li>
                <li>Fecha | date:'MMMM'</li>
                <li>Fecha | date:'MMMM dd,y'</li>
            </ol>
            <hr>
            <ol>
                <li>Fecha | date:'long':'GMT-6'</li>
                <li>Fecha | date:'long':'GMT-5'</li>
                <li>Fecha | date:'long':'GMT-4'</li>
                <li>Fecha | date:'long':'':'es-co'</li>
                <li>Fecha | date:'long':'':'fr-CA'</li>
                <li>Fecha | date:'long':'':'en-US'</li>
            </ol>
        </p-card>
    </div>
    <div class="col-6">
        <p-card header="Date">
            <ol>
                <li>{{date}}</li>
                <li>{{date | date}}</li>
                <li>{{date | date:'short'}}</li>
                <li>{{date | date:'MMMM'}}</li>
                <li>{{date | date:'MMMM dd, y'}}</li>
            </ol>
            <hr>
            <ol>
                <li>{{date | date:'long':'GMT-6'}}</li>
                <li>{{date | date:'long':'GMT-5'}}</li>
                <li>{{date | date:'long':'GMT-4'}}</li>
                <li>{{date | date:'long':'':'es-CO'}}</li>
                <li>{{date | date:'long':'':'fr-CA'}}</li>
                <li>{{date | date:'long':'':'en-US'}}</li>
            </ol>
        </p-card>
    </div>

</div>