<p-panel [showHeader]="false" class="p-2">
    <h1>Pipes Numéricos</h1>
    <p>Pipes incluídos en angular - usualmente en el common module</p>
</p-panel>

<div class="grid">
    <div class="col-4">
        <p-card header="Ventas Netas" subheader="del presente año">
            {{totalSell | number:'1.6-6'}}
        </p-card>
    </div>
</div>